<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="/static/blog_app/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background-color: #F5F5F5">
    {% block body%}

    {% endblock %}
     
</body>
</html>