{% extends 'base.html' %}

{% block title %}Блог{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Блог</span>
    </nav>


    <div class="card text-center">
        {% if all_articles_list %}
        {% for articles in all_articles_list %}
        <div class="card-header">
            <h2 class="card-title">{{ articles.article_title }}</h2>
            {% if articles.article_image %}
            <img src="{{ articles.article_image.url }}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ articles.article_post_description }}</p>
            <a href="{% url 'list' articles.id %}" class="btn btn-primary">Подробнее</a>
        </div>
        <div class="card-footer text-muted">
            {{ articles.pub_date }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}