{% extends 'base.html' %}

{% block title %}{{ a.article_title }}{% endblock %}

{% block body %}
<div class="container">

    <div class="card text-center">
        <div class="card-header">
            <h2 class="card-title">{{ a.article_title }}</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ a.article_text }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ a.pub_date }}
        </div>
    </div>
    <br>
    <h5 class="card-title text-center">Комменатрии</h5>
    <hr>
    {% if latest_comments_list %}
    {% for comment in latest_comments_list %}

    <div class="card-footer">
        <strong>
            <p>{{ comment.author_name }}</p>
        </strong>
        <p text-muted>{{ comment.comment_text }}</p>
    </div>
    {% endfor %}

    {% else %}
    Комментарии не найдены! Станьте первым ;)
    {% endif %}
    <hr>
    <h5 class="card-title text-center">Оставить комменатрий</h5>

    <form action="/{{a.id}}/leave_comment/" method="POST"> {% csrf_token %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Имя пользователя" aria-label="Username"
                aria-describedby="basic-addon1" name="name">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Текст комментария"
                name="text"></textarea>
        </div>

        <div class="col text-center">
            <input class="btn btn-primary" type="submit" value="Отправить">
        </div>
        <br>
    </form>


</div>
{% endblock %}